.groupForm {
  position: relative;
  width: 100%;
  flex-shrink: 0;
}
.popUpDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs) 15px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  max-height: 90%;
  max-width: 500px;
  border: 2px solid var(--neutral-300);
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.textAreaOutlinedTextField {
  margin: 20px 0 !important;
}

.buttonContainedText {
  display: flex;
  margin: 20px auto !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  margin-bottom: 20px;
}

.copyBox {
  display: flex;
  position: relative;
  margin: 20px 0;
  width: 100%;
}

.imgDiv {
  width: 100%;
  flex: 1;
  background-color: transparent;
  border: 1px solid blueviolet;
  height: 60px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.imgHelperText {
  position: absolute;
  top: 105%;
  left: 10px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: var(--neutral-500);
}

.pixelImg {
  opacity: 0;
}
