.supportingTextDiv,
.textDiv {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.textDiv {
  line-height: 28px;
  font-weight: 500;
}
.supportingTextDiv {
  font-size: var(--regular-13px1-size);
  line-height: 20px;
  color: var(--gray-500);
}
.cardHeaderDiv,
.contentDiv,
.textAndSupportingText {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.textAndSupportingText {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xs);
}
.cardHeaderDiv,
.contentDiv {
  align-self: stretch;
}
.contentDiv {
  flex-direction: row;
  padding: 20px var(--padding-2xl) 19px;
  box-sizing: border-box;
}
.cardHeaderDiv {
  background-color: var(--shades-white);
  flex-direction: column;
}
.textDiv1 {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  display: inline-block;
}
.arrowDownIcon {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  overflow: hidden;
}
.tableHeaderCell,
.tableHeaderDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.tableHeaderDiv {
  gap: var(--gap-2xs);
}
.tableHeaderCell {
  align-self: stretch;
  background-color: var(--gray-50);
  border-top: 0 solid var(--color-gray-400);
  border-right: 0 solid var(--color-gray-400);
  border-bottom: 1px solid var(--color-gray-400);
  border-left: 0 solid var(--color-gray-400);
  box-sizing: border-box;
  position: relative;
  height: 44px;
  flex-shrink: 0;
  padding: var(--padding-sm) var(--padding-2xl);
  font-size: var(--text-xs-medium-size);
  color: var(--gray-500);
}
.supportingTextDiv1,
.textDiv2 {
  position: relative;
  line-height: 20px;
  display: inline-block;
}
.textDiv2 {
  font-weight: 500;
}
.supportingTextDiv1 {
  color: var(--gray-500);
}
.tableCellDiv {
  align-self: stretch;
  border-top: 0 solid var(--color-gray-400);
  border-right: 0 solid var(--color-gray-400);
  border-bottom: 1px solid var(--color-gray-400);
  border-left: 0 solid var(--color-gray-400);
  box-sizing: border-box;
  position: relative;
  height: 72px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-md) var(--padding-2xl);
  align-items: center;
}
.columnDiv,
.tableCellDiv,
.tableHeaderDiv1 {
  display: flex;
  justify-content: flex-start;
}
.columnDiv {
  min-width: 250px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  color: var(--gray-900);
}
.tableHeaderDiv1 {
  flex-direction: row;
  align-items: center;
}
.badgeBaseDiv,
.tableHeaderCell1 {
  box-sizing: border-box;
  align-items: center;
}
.tableHeaderCell1 {
  align-self: stretch;
  background-color: var(--gray-50);
  border-top: 0 solid var(--color-gray-400);
  border-right: 0 solid var(--color-gray-400);
  border-bottom: 1px solid var(--color-gray-400);
  border-left: 0 solid var(--color-gray-400);
  position: relative;
  height: 44px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-2xl);
  justify-content: flex-start;
  text-align: left;
  color: var(--gray-500);
}
.badgeBaseDiv {
  border-radius: var(--br-md);
  background-color: var(--success-50);
  padding: var(--padding-3xs) var(--padding-2xs);
  justify-content: center;
}
.badgeBaseDiv,
.badgeBaseDiv1,
.badgeDiv {
  display: flex;
  flex-direction: row;
}
.badgeDiv {
  align-items: flex-start;
  justify-content: flex-start;
  mix-blend-mode: multiply;
}
.badgeBaseDiv1 {
  border-radius: var(--br-md);
  background-color: var(--gray-100);
  padding: var(--padding-3xs) var(--padding-2xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.columnDiv1,
.tableCellDiv8 {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
}
.tableCellDiv8 {
  align-self: stretch;
  border-top: 0 solid var(--color-gray-400);
  border-right: 0 solid var(--color-gray-400);
  border-bottom: 1px solid var(--color-gray-400);
  border-left: 0 solid var(--color-gray-400);
  box-sizing: border-box;
  position: relative;
  height: 72px;
  flex-direction: row;
  padding: var(--padding-md) var(--padding-2xl);
  align-items: center;
  color: var(--gray-700);
}
.columnDiv1 {
  min-width: 75px;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  font-size: var(--text-xs-medium-size);
  color: var(--success-700);
}
.textDiv18 {
  position: relative;
  line-height: 20px;
  display: inline-block;
}
.textAndSupportingText8 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.columnDiv2,
.dateDiv,
.textAndSupportingText8 {
  display: flex;
  justify-content: flex-start;
}
.columnDiv2 {
  min-width: 275px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  color: var(--gray-900);
}
.dateDiv {
  flex: 1;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
}
.columnDiv3,
.tableHeaderCell5 {
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
}
.columnDiv3 {
  min-width: 200px;
  flex-direction: column;
  align-items: flex-start;
  color: var(--gray-700);
}
.tableHeaderCell5 {
  align-self: stretch;
  background-color: var(--gray-50);
  border-top: 0 solid var(--color-gray-400);
  border-right: 0 solid var(--color-gray-400);
  border-bottom: 1px solid var(--color-gray-400);
  border-left: 0 solid var(--color-gray-400);
  box-sizing: border-box;
  position: relative;
  height: 44px;
  flex-direction: row;
  padding: var(--padding-sm) var(--padding-2xl);
  align-items: center;
  font-size: var(--text-xs-medium-size);
}
.columnDiv5 {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.tableHeaderCell8 {
  align-self: stretch;
  background-color: var(--gray-50);
  border-top: 0 solid var(--color-gray-400);
  border-right: 0 solid var(--color-gray-400);
  border-bottom: 1px solid var(--color-gray-400);
  border-left: 0 solid var(--color-gray-400);
  box-sizing: border-box;
  position: relative;
  height: 44px;
  flex-shrink: 0;
}

.tableCellButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.tableCellButton {
  border: 0;
  padding: var(--padding-md) var(--padding-2xl);
  background-color: transparent;
  align-self: stretch;
  border-top: 0 solid var(--color-gray-400);
  border-right: 0 solid var(--color-gray-400);
  border-bottom: 1px solid var(--color-gray-400);
  border-left: 0 solid var(--color-gray-400);
  box-sizing: border-box;
  position: relative;
  height: 72px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
}
.contentDiv1,
.tableDiv {
  background-color: var(--shades-white);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contentDiv1 {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--regular-13px1-size);
  color: var(--gray-500);
}
.tableDiv {
  border-radius: 8px;
  box-shadow: var(--shadow-md);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
  min-width: 950px;
  flex-direction: column;
  margin-left: 25px;
}
.contactMailIcon {
  position: relative;
  width: 41px;
  height: 41px;
  flex-shrink: 0;
  overflow: hidden;
}
.mAILBESDiv {
  position: relative;
  font-weight: 800;
  background: linear-gradient(-88.11deg, #059669, #00d995);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.logoA {
  cursor: pointer;
  text-decoration: none;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: 24px;
}
.buttonDiv {
  position: relative;
  font-size: var(--bold-16px1-size);
  font-weight: 600;
  font-family: var(--font-manrope);
  color: var(--shades-white);
  text-align: left;
  display: inline-block;
}
.cTAButton {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-sm);
  background-color: var(--success-green-700);
  align-self: stretch;
  border-radius: var(--br-2xs);
  height: 44px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-md);
}
.titleDiv {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.icon1 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
}
.overviewDiv {
  flex: 1;
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.menuDiv,
.navDiv,
.overviewA {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.overviewA {
  text-decoration: none;
  border-radius: var(--br-2xs);
  background-color: var(--neutral-100);
  flex-direction: row;
  padding: var(--padding-sm);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-xs);
  color: inherit;
}
.menuDiv,
.navDiv {
  flex-direction: column;
  align-items: flex-start;
}
.navDiv {
  color: var(--neutral-800);
}
.menuDiv {
  gap: var(--gap-lg);
}
.div {
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.frameDiv,
.notifications {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
}
.frameDiv {
  border-radius: var(--br-2xs);
  background-color: var(--success-green-700);
  flex-direction: column;
  padding: 0 var(--padding-xs);
  align-items: flex-start;
  color: var(--shades-white);
}
.notifications {
  text-decoration: none;
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-2xs) var(--padding-sm);
  align-items: center;
  gap: var(--gap-xs);
  color: var(--neutral-800);
}
.divider,
.image1Icon {
  position: relative;
  flex-shrink: 0;
}
.divider {
  border-top: 1px solid var(--neutral-200);
  box-sizing: border-box;
  width: 252px;
  height: 1px;
}
.image1Icon {
  width: 42px;
  height: 42.03px;
  object-fit: cover;
}
.aashishpanthi11gmailcomDiv {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  color: var(--neutral-400);
  display: inline-block;
}
.frameDiv2,
.labelDiv {
  color: var(--neutral-800);
}
.frameDiv2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.labelDiv {
  position: relative;
  font-size: var(--bold-16px1-size);
  font-weight: 600;
  font-family: var(--font-manrope);
  text-align: left;
  display: inline-block;
}
.layoutDiv,
.logOutButton {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.layoutDiv {
  overflow: hidden;
  padding: 0 4px;
}
.logOutButton {
  cursor: pointer;
  border: 0;
  padding: 6px var(--padding-2xs);
  background-color: var(--gray-100);
  align-self: stretch;
  border-radius: var(--br-2xs);
  gap: var(--gap-2xs);
}
.dashboardDiv,
.sideBarDiv {
  background-color: var(--shades-white);
}
.sideBarDiv {
  border-radius: var(--br-2xs);
  max-width: 300px;
  width: 100%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-2xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--bold-16px1-size);
  color: var(--neutral-500);
  font-family: var(--font-manrope);
  border-right: 1px solid var(--color-gray-400);
}
.dashboardDiv {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  text-align: left;
  font-size: var(--pj-regular-18px-size);
  color: var(--gray-900);
  font-family: var(--inter-regular-18px);
  display: flex;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
