.bGDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--blue-gray-900);
  width: 557px;
  height: 870px;
}
.createAnAccountToStartUsi,
.joinUsToday {
  position: absolute;
  left: 0;
  display: inline-block;
}
.joinUsToday {
  top: 0;
  letter-spacing: -2px;
  line-height: 62px;
  font-weight: 600;
}
.createAnAccountToStartUsi {
  top: 81px;
  font-size: var(--pj-regular-18px-size);
  line-height: 30px;
  color: var(--color-gray-800);
  width: 449px;
}
.buttonNameDiv {
  position: relative;
  font-size: var(--bold-16px1-size);
  letter-spacing: -0.2px;
  line-height: 28px;
  font-weight: 600;
  font-family: var(--bold-52px);
  color: var(--shades-white);
  text-align: right;
  display: inline-block;
}
.iconOutlinearrowRight {
  position: relative;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  overflow: hidden;
}
.iconDiv {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.buttonPrimaryWithIconDiv,
.frameDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}
.frameDiv {
  flex-direction: row;
  gap: var(--gap-sm);
}
.buttonPrimaryWithIconDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--blue-gray-800);
  width: 444px;
  flex-direction: column;
  padding: var(--padding-md);
  box-sizing: border-box;
}
.button,
.google2Icon {
  position: absolute;
  top: 19px;
  left: 106.7px;
  width: 23px;
  height: 23px;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 181px;
  left: 0;
  width: 444px;
  height: 60px;
}
.titleDiv {
  position: absolute;
  top: 42px;
  left: 62px;
  width: 449px;
  height: 241px;
}
.inputLabelDiv {
  position: relative;
  font-size: var(--regular-13px1-size);
  line-height: 22px;
  font-family: var(--bold-52px);
  color: var(--gray-200);
  text-align: left;
  display: inline-block;
}
.frameInput {
  border: 1px solid var(--blue-gray-700);
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-lg);
  box-sizing: border-box;
  position: relative;
  height: 60px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-xl);
  align-items: center;
  justify-content: flex-start;
}
.inputTextStyle3,
.inputTextStyle5 {
  position: absolute;
  left: 0;
  width: 449px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.inputTextStyle3 {
  top: 116px;
  border-radius: var(--br-lg);
  display: flex;
  gap: var(--gap-md);
}
.inputTextStyle5 {
  border: 0;
  background-color: transparent;
  top: 0;
}
.frameInput1,
.inputTextStyle4,
.inputTextStyle5 {
  border-radius: var(--br-lg);
  display: flex;
}
.frameInput1 {
  border: 1px solid var(--blue-gray-700);
  background-color: transparent;
  align-self: stretch;
  box-sizing: border-box;
  position: relative;
  height: 60px;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-3xl) var(--padding-xl) var(--padding-lg);
  align-items: center;
  justify-content: flex-start;
}
.inputTextStyle4 {
  position: absolute;
  top: 232px;
  left: 0;
  width: 449px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-md);
}
.rememberMeDiv {
  position: absolute;
  top: 0;
  left: 28px;
  font-size: var(--regular-13px1-size);
  line-height: 22px;
  font-family: var(--bold-52px);
  color: var(--shades-white);
  text-align: left;
  display: inline-block;
}
.checkDiv,
.shapeInput {
  position: absolute;
  left: 0;
}
.shapeInput {
  cursor: pointer;
  top: 2px;
  border-radius: var(--br-xs);
  border: 1px solid var(--blue-gray-700);
  box-sizing: border-box;
  width: 19px;
  height: 19px;
}
.checkDiv {
  top: 348px;
  width: 133px;
  height: 22px;
}
.buttonNameDiv1 {
  position: relative;
  font-size: var(--bold-16px1-size);
  letter-spacing: -0.2px;
  line-height: 28px;
  font-weight: 600;
  font-family: var(--bold-52px);
  color: var(--shades-white);
  text-align: center;
  display: inline-block;
}
.buttonPrimaryWithIcon {
  cursor: pointer;
  border: 0;
  padding: var(--padding-md);
  background-color: var(--blue-600);
  position: absolute;
  top: 400px;
  left: 0;
  border-radius: var(--br-xl);
  width: 201px;
  height: 55px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.alreadyHaveAn,
.signInSpan {
  font-family: var(--bold-52px);
  color: var(--neutral-500);
}
.signInSpan {
  font-weight: 600;
  color: var(--blue-600);
}
.alreadyHaveAnContainer {
  line-break: anywhere;
  width: 100%;
}
.alreadyHaveAnAccountSign {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 475px;
  left: 0;
  font-size: var(--regular-13px1-size);
  line-height: 22px;
  text-align: left;
  display: flex;
  align-items: center;
  width: 444px;
}
.formDiv,
.inputContentForm {
  position: absolute;
  top: 332px;
  left: 62px;
  width: 449px;
  height: 497px;
}
.formDiv {
  top: 99px;
  left: 521px;
  width: 557px;
  height: 870px;
}
.signUpDiv {
  position: relative;
  background-color: var(--shades-white);
  width: 100%;
  height: 1067px;
  overflow: hidden;
  text-align: left;
  font-size: var(--pj-bold-52px-size);
  color: var(--shades-white);
  font-family: var(--bold-52px);
}
